:root {
    --error-color: #ffffff;

    --error-top-color: #ec7278;
    --error-bg-color: #d82a33;
    --error-border-color: #aa272d;

    --selected-color: #00529B;
    --selected-bg-color: #BDE5F8;

    --next-bg-color: #29ce73;
    --next-border-color: #1f9755;
    --next-bottom-color: #18693d;
    --next-top-color: #40dd87;
    --next-gradient: linear-gradient(180deg, var(--next-bg-color) 80%, var(--next-bottom-color) 100%);
    --next-gradient-pressed: linear-gradient(180deg, var(--next-bottom-color) 0%, var(--next-bg-color) 20%);

    --border-darker: #445669;

}

@media (prefers-color-scheme: dark) {
    :root {
        --error-bg-color: #c2242c;
        --error-border-color: #942228;

        --next-bg-color: #1ba358;
        --next-border-color: #127940;

        --border-darker: #445669;
    }
}

.bigger-icon {
    font-size: 1.25rem;
}

.container {
    max-width: 800px;
    margin: auto;
}

.thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-body);
    /* Border bottom */
    box-shadow: 0 1px 0 0 var(--border);
}

.tfoot {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: var(--background-body);
    /* Border top */
    box-shadow: 0 -1px 0 0 var(--border);
}

/* 
tbody tr:nth-child(even) input {
    background-color: var(--background-body);
} */

.table-numpad tr:nth-child(even) {
    background-color: var(--background-body);
}

#tbody-towary-kontrahent tr input {
    border: 1px solid var(--border-darker);
}

* {
    color-scheme: dark;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;

    overflow: auto;
    overflow: initial;
}

i {
    padding-bottom: 0.25em;
}

td {
    vertical-align: middle;
}

button,
input[type="submit"] {
    padding-right: 15px;
    padding-left: 15px;
}

input[type=number] {
    appearance: textfield !important;
}

.kh-input {
    padding: 5px 0;
}

.swal2-select {
    color: #fff;
    color: var(--form-text);
    background-color: #161f27;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.disabled-zone {
    pointer-events: none;
    opacity: 0.5;
    height: auto;
}

.statusbar {
    border-top: 1px solid var(--border);
}

/* disable text selection for th and headings */
th,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    margin-bottom: 0;
}

.disabled {
    opacity: 0.5;
    text-decoration: line-through;
}

.table-sortable {
    cursor: pointer;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-bottom {
    bottom: 0px;
}

.numpad_key {
    width: 100%;
    margin: 0;
    font-weight: bold;
}

.error-msg {
    color: var(--error-color);
    background-color: var(--error-bg-color);
    padding: 0.5em;
    border-radius: 0.5em;
}

.btn-logout {
    margin-top: 10% !important;
    background-color: var(--error-bg-color) !important;
    color: white !important;
    border-top: 1px solid var(--error-top-color) !important;
    border-bottom: 3px solid var(--error-border-color);
}

.btn-logout:hover {
    margin-top: calc(10% + 3px) !important;
    border-bottom: 0px solid var(--error-border-color);
}


.btn-danger {
    background-color: var(--error-bg-color) !important;
    color: white !important;
}

.swal2-input {
    color: white;
}

.btn-item {
    background-color: var(--button-base);
    width: 100%;
    text-align: left;
}

.btn-item:focus {
    background-color: var(--button-base);
}

.btn-selected {
    background-color: var(--selected-bg-color) !important;
    color: var(--selected-color) !important;
}

.btn-next {
    background-color: var(--next-bg-color) !important;
    color: white !important;
    font-weight: bold;
    border-top: 1px solid var(--next-top-color) !important;
    border-bottom: 3px solid var(--next-border-color);
}

.btn-next:hover {
    margin-top: 3px !important;
    border-bottom: 0px solid var(--next-border-color);
}

.btn-list {
    padding: 5%;
}

.hide-text {
    color: var(--background-alt);
}

.btn-list i {
    transform: scale(1.5);
}

.swal2-popup {
    background-color: var(--background-body);
}

.swal2-title,
.swal2-html-container {
    color: var(--text-main);
}

.notification-last {
    color: var(--text-main);
    background-color: var(--background) !important;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
}

.notification-last table {
    margin-bottom: 0;
}

.notification-last table tr {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-last table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Menu */
.menuItem {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
}

/* 
.menuItem:hover table tbody tr td:nth-child(2) {
    transition: padding-left 0.2s ease-out;
}

.menuItem:hover table tbody tr td:nth-child(2) {
    padding-left: 4px !important;
} */

.hamburger {
    position: relative;
    z-index: 100;
}

.menu {
    transition: transform 0.4s ease-in-out;

    position: fixed;
    transform: translateY(-200%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--background);
    list-style: none;
    padding-top: 2rem;
}

.menu ul {
    max-width: 250px;
    margin: 5% auto;
    list-style-type: none;
    padding: 0;
}

.showMenu {
    transform: translateY(0);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.table-container {
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: auto !important;
}

.table-container table {
    position: sticky;
    top: 0;
    width: 100%;
}

.tr-dokument-pz,
.tr-dokument-pz td,
.tr-inwentaryzacja,
.tr-inwentaryzacja td {
    cursor: pointer;
}

.tr-dokument-pz:hover,
.tr-inwentaryzacja:hover,
.tr-dokument-pz:active,
.tr-inwentaryzacja:active {
    border-radius: 39px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

.selected-row {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: white;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.hover-underline-animation:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.hover-underline-animation:hover {
    color: white;
}

.td-editable {
    cursor: pointer;
}

.td-editable:hover {
    text-decoration: underline;
}

.tr-even {
    background-color: #161f27 !important;
    background-color: var(--background) !important;
}

.tr-odd {
    background-color: #1c262f !important;
    background-color: var(--background-body) !important;
}

.hidden {
    display: none;
}

.tr-editable:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

.tr-editable:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.tr-editable td {
    cursor: default;
}

.bold {
    font-weight: 600;
}

.standout-text {
    --bg-size: 400%;
    --color-one: #29ce73;
    --color-two: rgb(255, 255, 255);
    /* font-family: sans-serif; */
    /* font-size: clamp(3rem, 25vmin, 8rem); */
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {

    .standout-text {
        animation: move-bg 16s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

@media (min-width:600px) and (min-height:740px) {
    .component-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
        width: 100%;
    }

    .menu ul {
        max-width: 500px;
    }
}

@media (min-width: 550px) {
    .menu ul {
        max-width: 400px;
    }
}

@media (max-width: 800px) {
    body {
        touch-action: pan-x pan-y;
        user-select: none !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}